
<section class='nav-mb'>
  <div class='container'>
    <h2>Supply Chain Integrity - SCI</h2>
    <hr>
    <div class='row'>
        <div class='col-sm-12 col-md-6 col-lg-6'>
        <p>
          Pelo princípio da Lei 12.846/13, uma empresa íntegra só se relaciona com fornecedores íntegros. Portanto, exigir Mecanismo de Integridade de toda sua cadeia torna-se condição obrigatória. A <%= setting[:name] %> desenvolveu uma metodologia para cuidar desse assunto para você:
        </p>
        <h4>Sua empresa não investe dinheiro nem tempo! A <%= setting[:name] %> faz tudo.</h4>
        <p>
          Como a lei brasileira abrange toda a cadeia de fornecedores, a <%= setting[:name] %> ajuda sua empresa a classificá-los e estabelecer uma priorização. Na sequência, a <%= setting[:name] %> organiza um evento, em nome da empresa contratante, com todos os fornecedores selecionados, para tratar das questões relativas à Lei 12.846/13 e informá-los da nova exigência: implementação do Mecanismo de Integridade, num prazo estabelecido.
        </p>
        <p>
          A comprovação do cumprimento dessa imposição será por meio de um certificado, emitido por organismo independente, com base em uma norma de referência definida pelo cliente (por ex.: DSC 10.000).
        </p>
        <p>
          Os fornecedores poderão escolher a forma mais conveniente para atenderem essa determinação. Entretanto, a Compliance Total colocará a sua disposição o Mentoring CT®, com descontos significativos, frutos do convênio firmado com a empresa contratante.
        </p>
        <p>
          A participação no Mentoring CT® assegura aos fornecedores todos os benefícios dessa metodologia e a segurança de implementar todos os elementos necessários para a certificação, num prazo muito curto, de forma eficiente e profissional e com baixíssimo investimento.
        </p>
        <p>
          A empresa contratante tem a vantagem de acompanhar o desenvolvimento do processo na íntegra, por meio de relatórios regulares da Compliance Total e, se desejar, participar presencialmente nos eventos do Mentoring CT®, tendo assim, perfeito conhecimento sobre o grau de robustez do sistema em implementação na sua cadeia.
        </p>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-6'>
        <figure>
          <%= image_tag('fluxo-supply-chain-integrity.png') %>
          <figcaption></figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
